:root {
  --vp-c-brand-1: #06b6d4;
  --vp-c-brand-2: #0891b2;
  --vp-c-brand-3: #0e7490;
  --vp-c-brand-soft: rgba(6, 182, 212, 0.14);
}

.dark {
  --vp-c-brand-1: #22d3ee;
  --vp-c-brand-2: #06b6d4;
  --vp-c-brand-3: #0891b2;
  --vp-c-brand-soft: rgba(34, 211, 238, 0.14);
}

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: linear-gradient(135deg, #06b6d4, #0891b2);
  --vp-home-hero-image-background-image: linear-gradient(135deg, rgba(6, 182, 212, 0.2), rgba(8, 145, 178, 0.2));
  --vp-home-hero-image-filter: blur(44px);
}

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: #fff;
  --vp-button-brand-bg: #06b6d4;
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: #fff;
  --vp-button-brand-hover-bg: #0891b2;
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: #fff;
  --vp-button-brand-active-bg: #0e7490;
}
